// Core variables and mixins
@import '../summernote/font.scss';
@import 'elements.scss';
@import "scss/variables.scss";
@import "scss/mixins.scss";

@import "scss/btn-group.scss";
@import "scss/buttons.scss";
@import "scss/dropdown.scss";
@import "scss/modal.scss";
@import "scss/form.scss";
@import "scss/tooltip.scss";
@import "scss/popover.scss";

@import 'common.scss';

.note-editor {
  .note-editing-area {
    .note-editable {
      table {
        width: 100%;
        border-collapse: collapse;

         td, th {
          border: 1px solid #ececec;
          padding: 5px 3px;
        }
      }

      a {
        background-color: inherit;
        text-decoration: inherit;
        font-family: inherit;
        font-weight: inherit;
        color: #337ab7;
      }

      a:hover,
      a:focus {
        color: #23527c;
        text-decoration: underline;
        outline: 0;
      }

      figure {
        margin: 0;
      }
    }
  }
}

/* Dialog
 ------------------------------------------*/
.note-modal {
  .note-modal-body {
    label {
      margin-bottom: 2px;
      padding: 2px 5px;
      display: inline-block;
    }

     .help-list-item:hover {
      background-color: #e0e0e0;
    }
  }

   // [workaround] firefox fileinput
  @-moz-document url-prefix() {
    .note-image-input {
      height: auto;
    }
  }
}


.help-list-item {
  label {
    margin-bottom:5px;
    display:inline-block;
  }
}





.tea-editor {
  --tea-editor__border-radius: 4px;
  --tea-editor__button--border-radius: 3px;

  position: relative;
  background: #fff;

  .tea-editor__toolbar {
    box-shadow: inset 0 -1px #ccc;
    background: #fafafa;
    padding: 6px 6px 7px;
  }


  &:not([data-fullscreen="true"]) {
    border-radius: var(--tea-editor__border-radius);
    padding: 1px;

    &:before {
      z-index: 10;
      pointer-events: none;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: inherit;
      transition: box-shadow .15s, background-color .15s;
      box-shadow:
        0 1px 3px rgba(0, 0, 0, .04),
        inset 0 0 0 1px #ccc;
    }

    .tea-editor__toolbar {
      border-radius: calc(var(--tea-editor__border-radius) - 1px) calc(var(--tea-editor__border-radius) - 1px) 0 0;
    }
  }
}


.tea-editor__toolbar-body,
.tea-editor__buttons-stack-body {
  $local-gutter: 6px;

  display: flex;
  flex-wrap: wrap;
  margin-left: -$local-gutter;
  margin-top: -$local-gutter;
  pointer-events: none;

  & > * {
    pointer-events: all;
    margin-left: $local-gutter;
    margin-top: $local-gutter;
  }
}
.tea-editor__statusbar {
  box-shadow: inset 0 1px #ccc;
  background: #fafafa;
  border-radius: 0 0 3px 3px;
}
.tea-editor__resizebar {
  width: 100%;
  cursor: ns-resize;
  padding: 4px 3px 3px;

  svg {
    display: block;
    margin: 0 auto;
    color: #000;
    opacity: .2;
  }
}

.tea-editor__button {
  position: relative;
  border-radius: 0;
  background: #fff;
  border: none;
  box-shadow: inset 0 0 0 1px #ccc;
  box-shadow: inset 0 0 0 1px rgba(#000, .20);
  padding: 6px 8px;
  margin: 0;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  transition:
    background .12s,
    box-shadow .12s;

  &:hover {
    z-index: 1;
    background: #f5f5f5;
    box-shadow: inset 0 0 0 1px #c7c7c7;
    box-shadow: inset 0 0 0 1px rgba(#000, .20);
  }

  &.active,
  &.show,
  &:active {
    z-index: 2;
    transition-duration: 0s, 0s;
    background: #ebebeb;
    box-shadow:
      inset 0 0 0 1px #bebebe,
      inset 0 1px 3px rgba(#000, .15);
    box-shadow:
      inset 0 0 0 1px rgba(#000, .20),
      inset 0 1px 3px rgba(#000, .15);
  }

  svg {
    display: block;
    flex-shrink: 0;
  }

  &.dropdown-toggle::after {
    content: none;
  }
}
.tea-editor__button--current-color {
  position: relative;
  z-index: 3;

  &,
  &:hover,
  &.active,
  &.show,
  &:active {
    background: var(--background-color, #fff);
    color: var(--font-color, currentColor);
  }
}
.tea-editor__button-group {
  display: flex;

  & > .tea-editor__button + :is(.tea-editor__button, .tea-editor__button-group) {
    margin-left: -1px;
  }
  & > .tea-editor__button:first-child {
    border-top-left-radius: var(--tea-editor__button--border-radius);
    border-bottom-left-radius: var(--tea-editor__button--border-radius);
  }
  & > .tea-editor__button:last-child,
  & > .tea-editor__button-group:last-child > .tea-editor__button:nth-last-child(2) {
    border-top-right-radius: var(--tea-editor__button--border-radius);
    border-bottom-right-radius: var(--tea-editor__button--border-radius);
  }
  & > .tea-editor__button-group:not(:first-child) > .tea-editor__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.tea-editor__icon {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
}
.tea-editor__dropdown-icon {
  color: #000;
  opacity: .55;

  * + & {
    margin-left: 7px;
  }
}

